/*
 * Estilos de tu proyecto
 */
body{
  margin: 30px;
  padding: 30px;
}

div{
  width: 900px;
  height: -800px;
  background-image: url(../assets/images/hero.gif);
  background-repeat: no-repeat;
}
.phone{
  position: relative;
  width: 100px;
  height: 200px;

}
